<h1>Surgery in progress</h1>



<%= image_tag(
"http://maps.googleapis.com/maps/api/staticmap?key=#{ENV['GEO_KEY3']}&size=700x800&zoom=15&markers=color:blue%7C#{@ticket.surgeon_latitude},"" #{@ticket.surgeon_longitude}""&markers=#{@ticket.user_address}")
%>
