<!-- This page will combine:
https://docs.google.com/presentation/d/12eqUUWJIhksGiVMjrr4Eh_NtG1okED5CA7ciPnY3GjE/edit#slide=id.g41e213c944_0_21
https://docs.google.com/presentation/d/12eqUUWJIhksGiVMjrr4Eh_NtG1okED5CA7ciPnY3GjE/edit#slide=id.g41e213c944_0_34
You can sign-in an existing account
Or easily create a new one -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign Up Page</h1>
    <hr>

    <%= render 'form' %>

    <%= link_to 'Back to Home', root_path %>
  </body>
</html>
