<h1> Hello World</h1>

<% if @user.surgeon == true %>
 <%= link_to 'Welcome Surgeon!', user_url(@user.id) %><br />
 <%= link_to 'See all current tickets', tickets_url%>
<% else %>
 <%= link_to 'Welcome Cyclist!', user_url(@user.id) %><br />
 <%= link_to 'Submit a ticket', new_ticket_url %>

<% end %>
