<h1>Ticket has been accepted!</h1>


<%= link_to 'Successful surgery!', user_path(@ticket), method: :delete %>

<%= link_to 'Cancel surgery', user_path(@ticket), method: :delete, data: {confirm: "Are you sure you want to cancel your ticket?"} %>
