<h1>Your request has been submitted</h1>
<div>
  <h3>Type of repair</h3><%= @ticket.repair %>
  <h3>Your address</h3><%= @ticket.cyclist_location %>
  <h3>Request Status:</h3><%= @ticket.ticket_accepted %>
</div>



<!--This page will refresh once the ticket_accepted is updated  -->
