<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- Necessary to grab the icons for the contact buttons -->
<div class="page">
<div class="vid">
<iframe width="720" height="480" src="https://www.youtube.com/embed/B2EbPJCgdHI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<h3><a href="https://github.com/BillyDa/cycle_surgeon">Checkout the repo</a></h3>

<h1>Get to know our team</h1>
<h3>In no particular order...</h3>
<div class="names">
  <ul>

      <li><a href=#bill>Bill</a>,</li>


      <li><a href=#rob>Rob</a>,</li>

      <li><a href=#ty>Tyler</a></li>

  </ul>
</div>
<hr>

<div id="bill">
  <h3>Bill Davidson</h3>
  <img src="https://placebear.com/325/225">
  <ul>
    <li>Full-Stack Developer</li>
  </ul>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <br>
  <br>
  <b>Get in touch:</b>
  <ul>
    <li><i class="fab fa-github"></i> <a href="https://github.com/BillyDa">GitHub</a></li>
    <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/billy-davidson/">LinkedIn</a></li>
  </ul>
</div>
  <hr>
<div id="rob">
  <h3>Rob Schwartz</h3>
  <img src="https://placebear.com/325/225">
    <ul>
      <li>Full-Stack Developer</li>
    </ul>
  Hey, I'm Rob! I'm a passionate web developer with a strong talent for the front end.<br>
  I quit my job in sales to pursue a fulfilling outlet to express my creativity and excitement in a purposeful manner.<br>
  I consistently seek out and research new methods and abilities to push my skills and projects to the next level.</p>
  <b>Get in touch:</b>
    <ul>
      <li><i class="fab fa-github"></i> <a href="https://github.com/schwarro">GitHub</a></li>
      <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/rob-schwartz-a90091135/">LinkedIn</a></li>
    </ul>
</div>
  <hr>
<div id="ty">
  <h3>Tyler Palef</h3>
  <!-- <%= image_tag('about_tyler.png') %> -->
  <img src="../assets/about_tyler.png" width:300px height: 300px>
  <ul>
    <li>Full-Stack Developer</li>
  </ul>
  Honestly, I just really love solving problems.<br>
     That ranges from debugging a broken Ruby app (been there done that!) to building a website from scratch.<br>
     Being a full-stack developer feels so empowering because there's so much you can do. But I always feel grounded because technology is always changing, as does the team around you.
     Because of that, I'm always open to new challenges and learning opportunities!<br><br>
  <b>Get in touch:</b>
  <ul>
  <li><i class="fab fa-github"></i> <a href="https://github.com/tylerpalef">GitHub</a></li>
  <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/tylerpalef/">LinkedIn</a></li>
</ul>
</div>
</div>
<style>
  .vid {
    text-align: center;

  }

  .page {
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  p {
    margin-left: 250px;
    margin-right: 250px;
  }

  ul {
    list-style-type: none;
  }

  .names > ul > li {
    display: inline-block;
  }

  img {
    width: 250px;
    border-radius: 50%;
  }

</style>
