<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- Necessary to grab the icons for the contact buttons -->

<h1>Get to know our team...</h1>

<div>
  <h3>Bill Davidson</h3>
  <img src="https://placebear.com/325/225">
  <ul>
    <li>Full-Stack Developer</li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <b>Get in touch:</b>
  <ul>
    <li><i class="fab fa-github"></i> <a href="https://github.com/BillyDa">GitHub</a></li>
    <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/billy-davidson/">LinkedIn</a></li>
  </ul>
</div>
  <hr>
<div>
  <h3>Rob Schwartz</h3>
  <img src="https://placebear.com/325/225">
    <ul>
      <li>Full-Stack Developer</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <b>Get in touch:</b>
    <ul>
      <li><i class="fab fa-github"></i> <a href="https://github.com/schwarro">GitHub</a></li>
      <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/rob-schwartz-a90091135/">LinkedIn</a></li>
    </ul>
</div>
  <hr>
<div>
  <h3>Tyler Palef</h3>
  <img src="https://placebear.com/325/225">
  <ul>
    <li>Full-Stack Developer</li>
  </ul>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <b>Get in touch:</b>
  <ul>
  <li><i class="fab fa-github"></i> <a href="https://github.com/tylerpalef">GitHub</a></li>
  <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/tylerpalef/">LinkedIn</a></li>
</ul>
</div>
<hr>
<h3><a href="https://github.com/BillyDa/cycle_surgeon">Checkout the repo</h3>
