body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

 .wrapper {
   background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("background.jpg");
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .nav > a {
   text-decoration: none;
   color: black;
   padding-right: 15px;
 }

.nav {
  text-align: right;
  margin-top: 15px;
}

.inside_wrapper {
  text-align: center;
}

.inside_wrapper > p {
  margin: 0;
}
