body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

 .wrapper {
   background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("background.jpg");
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
 }

.links > p {
  display: inline-block;
  padding-right: 25px;
}

.links > p > a {
  text-decoration: none;
  color: black;
  text-align: right;
}

.links {
  text-align: right;
  margin-right: 20px;
}

.links > a {
  margin-top: 16px;
  text-decoration: none;
  color: black;
  padding-right: 25px;
}

#user_name {
  grid-row-start: 3;
}

.exam_room > a {
  color: black;
  text-decoration: none;
}

h1, h2, .map {
  text-align: center;
  margin: 0;
}

.ticket_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-auto-rows: 100px;
}

.surgeon_location {
  text-align: center;
  border: 3px green solid;
  width: 60%;
  height: 80%;
  margin: 0 auto
}

.surgeon_location > h3, .surgeon_location > p, .cycle_location > h3, .cycle_location > p {
  display: inline-block;
} 

.cycle_location {
  text-align: center;
  border: 3px red solid;
  width: 60%;
  height: 80%;
  margin: 0 auto
}

.complete {
  text-align: right;
  margin-right: 25px;
}

.cancel {
  margin-left: 25px;
}

.cancel, .complete {
  height:25px;
}

.complete > a, .cancel> a {
  text-decoration: none;
}

.surgeon_location > p, .cycle_location > p, .surgeon_location > h3, .cycle_location > h3 {
  margin: 0 0 10px 0;
}
