<!DOCTYPE html>
<html>
  <head>
    <title>CycleSurgeon</title>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>


    <%= yield %>
  </body>
</html>
